* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
}

/* HEADER START */

.header {
    background-color: #E7E5E6;
    padding: 28px;
}

.header .logo {
    font-size: 44px;
    background-color: #AEAEAE;
    padding: 12px 44px;
    display: inline-block;

    /* 
        NOTES:
        We use inline block because it allows us to manipulate the width and the height of the elemenet, also the the top and bottom margins/paddings are respected.
    */
}

/* HEADER END */


/* NAVIGATION START */

.nav {
    background-color: #A5A3A4;
}
.nav ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    
}

.nav li {
    display: inline-block;
    padding: 12px 23px;
    
    /*
        NOTES: 
        we use 'display:inline-block' to create a navigation bar.
        I believe if you use this specifically with the <li>element it creates a horizontal nvabar, if 'display:block' is used the nav bar would be horizontal. 
    */
}

.nav li a {
    text-decoration: none;
    color: #E8E8F0;
}

/* NAVIGATION END */

/* MAIN START */

.main {
    background-color: #F3EFF0;
    width: 70%;
    height: 800px;
    float: left;
}

.main h3 {
    padding: 20px 30px;
    font-size: 30px;
}

.main p {
    padding: 12px 30px;
    font-size: 16px;
}

/* MAIN END */

/* SIDE START */

.side {
    background-color: #CECCCD;
    height: 800px;
    float: left;
    width: 30%;

    /*
        Have no idea why we are using 'float:left'.
    */
}
.side h3 { 
    padding: 12px 10px;
}

.side ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.side li {
    padding-top: 15px;
    padding-left: 10px;
} 

/* SIDE END */

/* FOOTER START */

.footer{
    background-color: #514F50;
    color: white;
    padding-left: 30px;
    font-size: 15px;
}
