* {
    padding: 0;
    margin: 0;
}

#wrapper {
    width: 80%;
    margin: 0 auto;   
    /*
        SUMMARY:

        If you specify 'width: 80%;', the element will take 80% of the width available to it but it will sit on the left of the page. Its only once you apply 
        'margin: 0 auto' that the element will sit centrally. The remaining space will be divided evenly on both sides.
    */
}

body {
    background-color: #AEAEAE;
}

/* HEADER START */
header {
    background-color: #E7E5E6;
    padding: 30px;
}

header .logo {
   background-color: #AEAEAE;
   display: inline-block;
   font-size: 48px;
   padding: 15px 50px;
}
/* HEADER END */

/* NAVIGATION START */
nav {
    background-color: #A5A3A4;
}

nav ul li {
    display: inline-block;
    padding: 16px 25px;
}

nav ul li a {
    color: #FFFFF0;
    text-decoration: none;
}
/* NAVIGATION END */

/* LEFT SECTION START */
#left {
    float: left;
    background-color: #F3EFF0;
    width: 70%;
    min-height: 600px;
}

#left h1 {
    font-size: 40px;
    margin: 20px 20px;
}

#left p {
   margin: 25px 25px;
   line-height: 20px; 
}
/* LEFT SECTION END */

/* RIGHT SECTION START */
#right {
    background-color: #CECCCD;
    float: left;
    min-height: 612px;
    width: 30%;
}

#right h1 {
    padding: 25px 25px;
}

#right ul {
    padding-left: 40px;
}
/* RIGHT SECTION END */

/* FOOTER START */
footer {
    background-color: #514F50;
    clear: left;
    font-size: 14px;
    padding: 9px 0;
}

footer p {
    color: #FFFFFF;
    padding-left: 35px;
}
/* FOOTER END */